In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

In [2]:
browser = Browser('chrome')
base_url = 'https://www.indeed.com'
url = 'https://www.indeed.com/jobs?q=junior+data+analyst&l=&vjk=3431753fef1de31b'
browser.visit(url)

In [3]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [4]:
results = soup.find('ul', class_='jobsearch-ResultsList css-0')

In [5]:
jobs = results.find_all('td', class_='resultContent')

In [6]:
job_list = []

In [7]:
for x in range(1,6):
    html = browser.html
    soup = BeautifulSoup(html,'html.parser')
    results = soup.find('ul', class_='jobsearch-ResultsList css-0')
    jobs = results.find_all('td', class_='resultContent')
    for job in jobs:
        title = job.div.h2.a.text
        company = job.find('span', class_='companyName').text
        location = job.find('div', class_='companyLocation').text
        estimate = job.find('span', class_='estimated-salary')
        link = job.find('a')['href']
        absolute_link = urljoin(base_url, link)
        if estimate is not None:
            salary = estimate.text
        else:
            salary = 'N/A'
        job_dict={
            'Title':title,
            'Company':company,
            'Location':location,
            'Salary':salary,
            'Link':absolute_link
        }
        job_list.append(job_dict)
    button = browser.find_by_css('a[data-testid="pagination-page-next"]')
    if button:
        button.click()
    else:
        break

In [8]:
browser.quit()

In [9]:
df = pd.DataFrame(job_list)

In [10]:
pd.set_option('display.max_colwidth',None)

In [11]:
display(df)

,Title,Company,Location,Salary,Link
0,"Junior Data Analyst, Smartsheet",Tarkik Solutions Incorporated,"Remote in Washington, DC",N/A,https://www.indeed.com/company/Tarkik-Solutions-Incorporated/jobs/Junior-Data-Analyst-ee47acfffc074d36?fccid=4ba13ae15fa6e720&vjs=3
1,Junior Data Analyst,Serenity Healthcare,"Lehi, UT 84043",Estimated $39K - $49.4K a year,https://www.indeed.com/rc/clk?jk=c8b75f805512db15&fccid=075431e2f3a24949&vjs=3
2,Junior Business Analyst,Nthline solutions LLC,"Remote in Phoenix, AZ",N/A,https://www.indeed.com/company/learnbeyond-consulting/jobs/Junior-Business-Analyst-b37fc0a8923588b3?fccid=c035442f4e5ececf&vjs=3
3,Junior Data Analyst,Cobbs Creek Healthcare,"Newtown Square, PA 19073",N/A,https://www.indeed.com/company/Cobbs-Creek-Healthcare-LLC/jobs/Junior-Data-Analyst-3543db1cf0005aa6?fccid=16a23728ad62ad53&vjs=3
4,Jr. Data Analyst,AlphaStaff,Remote,Estimated $76.1K - $96.3K a year,https://www.indeed.com/rc/clk?jk=3431753fef1de31b&fccid=19a0fad134659d8e&vjs=3
...,...,...,...,...,...
70,Junior Data Analyst,ValuTeachers,"Ponte Vedra, FL 32081",N/A,https://www.indeed.com/rc/clk?jk=dedf0d1d0232c667&fccid=067c543bb0652f1c&vjs=3
71,Jr. Supply Chain Analyst,Restaurant Depot,"Whitestone, NY 11357",N/A,https://www.indeed.com/rc/clk?jk=18e1c3bfdf1a3707&fccid=3ca7b0879e770c4b&vjs=3
72,Junior Data Analyst,KLEAR Digital,"Mansfield, PA 16933",Estimated $47.5K - $60.2K a year,https://www.indeed.com/rc/clk?jk=96c3e0e95f6c9e10&fccid=4b09aa20a32f74a1&vjs=3
73,Junior Data Analyst,391 Financial,"Columbia, MO 65203",Estimated $50K - $63.3K a year,https://www.indeed.com/rc/clk?jk=2deaa37c6326b507&fccid=97ed34b540852c92&vjs=3
74,Data Analyst,FAMILY TREE PRIVATE CARE,"Houston, TX 77063 (Westchase area)",Estimated $52K - $65.8K a year,https://www.indeed.com/rc/clk?jk=6446251994199208&fccid=bc36b07c4dd6e8bf&vjs=3

In [12]:
pd.set_option('display.max_colwidth',None)

In [13]:
df[df['Location'].str.contains('Remote')]['Link']

0            https://www.indeed.com/company/Tarkik-Solutions-Incorporated/jobs/Junior-Data-Analyst-ee47acfffc074d36?fccid=4ba13ae15fa6e720&vjs=3
2               https://www.indeed.com/company/learnbeyond-consulting/jobs/Junior-Business-Analyst-b37fc0a8923588b3?fccid=c035442f4e5ececf&vjs=3
4                                                                 https://www.indeed.com/rc/clk?jk=3431753fef1de31b&fccid=19a0fad134659d8e&vjs=3
6                                                                 https://www.indeed.com/rc/clk?jk=679c2604e35e3f45&fccid=5dd85e4f1861bacd&vjs=3
9                                                                 https://www.indeed.com/rc/clk?jk=38256b8c882d87b5&fccid=ed2347c09522ed5a&vjs=3
16    https://www.indeed.com/company/Embedded-Systems-Inc/jobs/Junior-Business-Data-System-Analyst-e053f035a3ae2623?fccid=450aff5f7cce5591&vjs=3
17                                                                https://www.indeed.com/rc/clk?jk=73bbac9775b689a8&fccid=facab5dee1aa0a96&vjs=3
21                          https://www.indeed.com/company/net2aspire/jobs/Junior-Business-Analyst-f3793af1d09a3be9?fccid=268145626d239938&vjs=3
23                                                                https://www.indeed.com/rc/clk?jk=6a2d67efd2f8ad07&fccid=c9a71e917ce3a734&vjs=3
24                                                                https://www.indeed.com/rc/clk?jk=aeaa94f15b8ea3ef&fccid=9718145a3454362b&vjs=3
43                                                                https://www.indeed.com/rc/clk?jk=0978d117e7c1ff24&fccid=24a4b71b520a2212&vjs=3
54         https://www.indeed.com/company/Lumik-LLC/jobs/Junior-Business-Intelligence-Data-Analyst-4c37e67be8462336?fccid=4504290113ba937f&vjs=3
60                          https://www.indeed.com/company/net2aspire/jobs/Junior-Business-Analyst-f3793af1d09a3be9?fccid=268145626d239938&vjs=3
Name: Link, dtype: object

In [14]:
df['Link']

0     https://www.indeed.com/company/Tarkik-Solutions-Incorporated/jobs/Junior-Data-Analyst-ee47acfffc074d36?fccid=4ba13ae15fa6e720&vjs=3
1                                                          https://www.indeed.com/rc/clk?jk=c8b75f805512db15&fccid=075431e2f3a24949&vjs=3
2        https://www.indeed.com/company/learnbeyond-consulting/jobs/Junior-Business-Analyst-b37fc0a8923588b3?fccid=c035442f4e5ececf&vjs=3
3        https://www.indeed.com/company/Cobbs-Creek-Healthcare-LLC/jobs/Junior-Data-Analyst-3543db1cf0005aa6?fccid=16a23728ad62ad53&vjs=3
4                                                          https://www.indeed.com/rc/clk?jk=3431753fef1de31b&fccid=19a0fad134659d8e&vjs=3
                                                                     ...
70                                                         https://www.indeed.com/rc/clk?jk=dedf0d1d0232c667&fccid=067c543bb0652f1c&vjs=3
71                                                         https://www.indeed.com/rc/clk?jk=18e1c3bfdf1a3707&fccid=3ca7b0879e770c4b&vjs=3
72                                                         https://www.indeed.com/rc/clk?jk=96c3e0e95f6c9e10&fccid=4b09aa20a32f74a1&vjs=3
73                                                         https://www.indeed.com/rc/clk?jk=2deaa37c6326b507&fccid=97ed34b540852c92&vjs=3
74                                                         https://www.indeed.com/rc/clk?jk=6446251994199208&fccid=bc36b07c4dd6e8bf&vjs=3
Name: Link, Length: 75, dtype: object