In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../Resources/output.csv')

In [3]:
df=pd.DataFrame(data)

# Cleaning and sorting for Flask API

In [57]:
df.head()

,Title,Company,Location,Salary,Link,Word count,Most common word
0,Junior Data Analyst,"Zartico, Inc.",Remote,Estimated $68.1K - $86.2K a year,"<a href=""https://www.indeed.com/rc/clk?jk=2ef2...","{'join': 3, 'team,': 1, 'industry': 1, 'job': ...",data
1,Junior Business Analyst,Janus Henderson,"Hybrid remote in Denver, CO",NaN,"<a href=""https://www.indeed.com/rc/clk?jk=7fe4...","{'architects': 1, 'join': 2, 'rewards': 1, 'ti...",work
2,Enterprise Data Analyst Junior,STM Consulting.INC,"Denver, CO 80204 (Auraria area)",NaN,"<a href=""https://www.indeed.com/company/STM-Co...","{'reports,': 1, 'portfolio.': 1, 'websites': 2...",·
3,Junior Business Analyst,aezion inc,Remote,NaN,"<a href=""https://www.indeed.com/company/Aezion...","{'junior': 2, '3': 1, 'teams': 1, 'contract': ...",business
4,Junior Data Analyst,Affiliated Monitoring,"Union, NJ 07083",NaN,"<a href=""https://www.indeed.com/pagead/clk?mo=...","{'post': 1, 'administration,': 1, 'entrepreneu...",data

### Filter for jobs with salary estimates included

In [4]:
salary_filter = df.dropna()

In [11]:
columns_to_keep = ['Title','Word count']
word_df = salary_filter[columns_to_keep]
#word_df = word_df.apply(lambda x: x.str.replace('[^a-zA-Z0-9\s]+', '', regex=True))

In [12]:
word_df.to_json('../Resources/words.json',orient='records')

### Removing characters to convert to float

In [63]:
salary_filter[['Min_Salary', 'Max_Salary']] = salary_filter['Salary'].str.split('-', expand=True)

# Remove text from salary_start and salary_end columns
salary_filter['Min_Salary'] = salary_filter['Salary'].str.extract(r'\$([\d,]+\.\d+|\d+)')[0].str.replace(',', '').astype(float)
salary_filter['Max_Salary'] = salary_filter['Max_Salary'].str.extract(r'\$([\d,]+\.\d+|\d+)')[0].str.replace(',', '').astype(float)

In [76]:
salary_filter.head()

,Title,Company,Location,Salary,Link,Word count,Most common word,Min_Salary,Max_Salary
0,Junior Data Analyst,"Zartico, Inc.",Remote,Estimated $68.1K - $86.2K a year,"<a href=""https://www.indeed.com/rc/clk?jk=2ef2...","{'join': 3, 'team,': 1, 'industry': 1, 'job': ...",data,68100.0,86200.0
7,Junior Data Analyst,General Dynamics Information Technology,Remote in Virginia+1 location,Estimated $93.7K - $119K a year,"<a href=""https://www.indeed.com/rc/clk?jk=c2d2...","{""you'll"": 2, 'equivalent': 1, 'junior': 1, 'm...",data,93700.0,119000.0
9,Junior Data Analyst,Alpha Facilities Solutions,"San Antonio, TX 78261",Estimated $74.5K - $94.3K a year,"<a href=""https://www.indeed.com/rc/clk?jk=37a9...","{'deliverables': 1, 'senior': 1, 'reason': 1, ...",business,74500.0,94300.0
11,Junior Data Analyst,Zartico,"Salt Lake City, UT 84101 (People's Freeway area)",Estimated $65.1K - $82.4K a year,"<a href=""https://www.indeed.com/rc/clk?jk=f499...","{'join': 3, 'team,': 1, 'industry': 1, 'job': ...",data,65100.0,82400.0
12,Junior Database Analyst,EloTouch,"Remote in Richardson, TX 75081",Estimated $92.8K - $117K a year,"<a href=""https://www.indeed.com/rc/clk?jk=680a...","{'software.': 1, 'etc.': 1, 'reports': 1, 'dev...",data,92800.0,117000.0

In [65]:
salary_filter['Min_Salary'] = salary_filter['Min_Salary'] * 1000
salary_filter['Max_Salary'] = salary_filter['Max_Salary'] * 1000

In [67]:
salary_filter.dtypes

Title                object
Company              object
Location             object
Salary               object
Link                 object
Word count           object
Most common word     object
Min_Salary          float64
Max_Salary          float64
dtype: object

In [70]:
columns_to_keep = ['Title','Min_Salary','Max_Salary','Most common word']
salary_df = salary_filter[columns_to_keep]

In [75]:
salary_df.to_json('../Resources/salary.json',orient='records')

In [78]:
salary_filter.head()

,Title,Company,Location,Salary,Link,Word count,Most common word,Min_Salary,Max_Salary
0,Junior Data Analyst,"Zartico, Inc.",Remote,Estimated $68.1K - $86.2K a year,"<a href=""https://www.indeed.com/rc/clk?jk=2ef2...","{'join': 3, 'team,': 1, 'industry': 1, 'job': ...",data,68100.0,86200.0
7,Junior Data Analyst,General Dynamics Information Technology,Remote in Virginia+1 location,Estimated $93.7K - $119K a year,"<a href=""https://www.indeed.com/rc/clk?jk=c2d2...","{""you'll"": 2, 'equivalent': 1, 'junior': 1, 'm...",data,93700.0,119000.0
9,Junior Data Analyst,Alpha Facilities Solutions,"San Antonio, TX 78261",Estimated $74.5K - $94.3K a year,"<a href=""https://www.indeed.com/rc/clk?jk=37a9...","{'deliverables': 1, 'senior': 1, 'reason': 1, ...",business,74500.0,94300.0
11,Junior Data Analyst,Zartico,"Salt Lake City, UT 84101 (People's Freeway area)",Estimated $65.1K - $82.4K a year,"<a href=""https://www.indeed.com/rc/clk?jk=f499...","{'join': 3, 'team,': 1, 'industry': 1, 'job': ...",data,65100.0,82400.0
12,Junior Database Analyst,EloTouch,"Remote in Richardson, TX 75081",Estimated $92.8K - $117K a year,"<a href=""https://www.indeed.com/rc/clk?jk=680a...","{'software.': 1, 'etc.': 1, 'reports': 1, 'dev...",data,92800.0,117000.0

In [81]:
columns_to_keep = ['Title','Company','Location','Salary','Link']
job_info_df = salary_filter[columns_to_keep]

In [83]:
job_info_df.to_json('../Resources/jobinfo.json',orient='records')